<h2>Home Page</h2>
<div class="image-item">
  <img src="../../assets/mainbarber.jpg" alt="The braber shop">
</div>
<p>Welcome to the Barbershop RAN home page! Here you will find the latest news and updates about our services.</p>


<h3>Our Services</h3>
<div class="image-gallery">
  <div class="image-item">
    <img src="../../assets/images/images.jpeg" alt="Haircut">
    <p>Professional Haircuts</p>
  </div>
  <div class="image-item">
    <img src="https://via.placeholder.com/150/000000/FFFFFF/?text=Shaving" alt="Shaving">
    <p>Expert Shaving</p>
  </div>
  <div class="image-item">
    <img src="https://via.placeholder.com/150/000000/FFFFFF/?text=Styling" alt="Styling">
    <p>Stylish Hair Styling</p>
  </div>
</div>

<h3>Gallery</h3>
<div class="image-gallery">
  <div class="image-item">
    <img src="https://via.placeholder.com/300x200/000000/FFFFFF/?text=Gallery1" alt="Gallery Image 1">
  </div>
  <div class="image-item">
    <img src="https://via.placeholder.com/300x200/000000/FFFFFF/?text=Gallery2" alt="Gallery Image 2">
  </div>
  <div class="image-item">
    <img src="https://via.placeholder.com/300x200/000000/FFFFFF/?text=Gallery3" alt="Gallery Image 3">
  </div>
</div>
